<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	  <div class="row g-lg-4 g-3" th:fragment="content">
                        <div class="product-col col-xxl-3 col-xl-4 col-lg-6 col-md-4 col-6">
                            <div class="single-product-card">
                                <div class="part-img">
                                    <img th:src="@{${product.mainImagePath}}" alt="Product">
                                </div>
                                <div class="part-txt">
                                    <h4 class="product-name"><a th:href="@{${product.URI}}">[[${product.shortName}]]</a></h4>
                                    <div th:replace="product/product_fragment :: product_price"></div>
                                 
                                    <button class="add-to-cart-btn">Add to Cart</button>
                                </div>
                                <div class="cart-option">
                                    <ul>
                                        <li>
                                            <a role="button" class="add-to-cart">
                                                <i class="fa-light fa-cart-shopping"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" class="add-to-wish">
                                                <i class="fa-light fa-heart"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a role="button" class="quick-view">
                                                <i class="fa-light fa-image"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="shop-details.html" class="view-product">
                                                <i class="fa-light fa-eye"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
  
<div th:fragment="product_price" th:remove="tag">
		<th:block th:if="${product.discountPercent &lt;= 0}">
			<div th:replace="product/product_fragment :: price_fragment(${product.price})"></div>
		</th:block>
		<th:block th:if="${product.discountPercent > 0}">
			
			 <p class="price"><span><div th:replace="product/product_fragment :: price_fragment(${product.price})"></div></span>
			<b style="font-size: small; color: darkred"> <div th:replace="product/product_fragment :: price_fragment(${product.discountPrice})"></div></b></p>
		</th:block>
	</div>			

<div th:fragment="price_fragment(productPrice)" th:remove="tag">
	<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(productPrice, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>
</body>
</html>