.popular-categories {
    padding: 25px 0;
    .custom-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px 18px;
        .custom-col {
            width: calc(100% / 8 - 15.8px);
            .category-card {
                .part-img {
                    margin-bottom: 15px;
                    a {
                        min-height: 137px;
                    }
                }
                .part-txt {
                    text-align: center;
                    h3 {
                        font-size: 16px;
                        line-height: 100%;
                        font-weight: 500;
                        text-transform: capitalize;
                        color: $black;
                        margin-top: -1px;
                        margin-bottom: -3px;
                        a {
                            &:hover {
                                color: $color-1;
                            }
                        }
                    }
                }
            }
        }
    }
}

.popular-categories-2 {
    padding: 25px 0;
    .custom-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .custom-col {
            width: calc(100% / 4 - 15px);
            .category-card {
                a {
                    display: flex;
                    gap: 15px;
                    align-items: center;
                    border: 1px solid rgba($black-2, .2);
                    padding: 15px;
                    transition: .3s;
                    .part-icon {
                        width: 60px;
                        height: 60px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: rgba($black-2, .1);
                        border: 1px solid rgba($black-0, .03);
                        span {
                            height: 50px;
                            font-size: 40px;
                            color: $black-2;
                            transition: .3s;
                        }
                    }
                    .part-txt {
                        width: calc(100% - 65px);
                        display: flex;
                        justify-content: space-between;
                        span {
                            font-size: 16px;
                            line-height: 100%;
                            font-weight: 500;
                            color: $black-2;
                            transition: .3s;
                        }
                        .quantity-box {
                            font-size: 14px;
                            opacity: 0.7;
                        }
                    }
                    &:hover {
                        border-color: transparent;
                        box-shadow: 0px 5px 30px -5px rgba($black-0, .15);
                        transform: translateY(-5px);
                        .part-icon {
                            span {
                                color: $color-2;
                                opacity: 1;
                            }
                        }
                        .part-txt {
                            span:not(.quantity) {
                                color: $color-2;
                            }
                        }
                    }
                }
            }
        }
    }
}