<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	 <div class="footer" th:fragment="footer">
        <div class="main-footer">
            <div class="container">
                <div class="custom-row">
                    <div class="custom-col-2">
                        <div class="footer-about">
                            <div class="footer-logo">
                                <img th:src="@{${SITE_LOGO}}" alt="Logo">
                            </div>
                            <p>Amazon internal data, FY2021 survey of 21.2K U.S. multichannel sellers</p>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <span><i class="flaticon-map"></i></span>
                                    </div>
                                    <div class="txt">
                                        <span>Amazon Payment Products</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span><i class="flaticon-email"></i></span>
                                    </div>
                                    <div class="txt">
                                        <a href="#">quangtri.nguyen@dxc.com</a>                                      
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <span><i class="flaticon-telephone"></i></span>
                                    </div>
                                    <div class="txt">
                                        <a href="#">+123 456 789</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="custom-col-2">
                        <div class="link-wrap">
                            <div class="footer-link">
                                <h3 class="footer-title">Get to Know Us</h3>
                                <ul>
                                <th:block th:each="footerMenu : ${footerMenuItems}">
                                    <li><a th:href="@{'/m/' + ${footerMenu.alias}}">[[${footerMenu.title}]]</a></li>
                                     </th:block>                                
                                </ul>
                            </div>
                            <div class="footer-link">
                                <h3 class="footer-title">Information</h3>
                                <ul>
                                    <li><a th:href="@{/}">My Order</a></li>
                                    <li><a th:href="@{/}">Wishlist</a></li>
                                    <li><a th:href="@{/}">My Credit</a></li>
                                    <li><a th:href="@{/login}">Login</a></li>
                                    <li><a th:href="@{/}">Personal Info</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="custom-col">
                        <div class="footer-gallery">
                            <h3 class="footer-title">Instagram</h3>
                            <ul>
                                <li>
                                    <a href="https://instagram.com" target="_blank">
                                        <img th:src="@{/images/gl-1.png}" alt="image">
                                        <span><i class="fa-brands fa-instagram"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com" target="_blank">
                                        <img th:src="@{/images/gl-2.png}" alt="image">
                                        <span><i class="fa-brands fa-instagram"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com" target="_blank">
                                        <img th:src="@{/images/gl-3.png}" alt="image">
                                        <span><i class="fa-brands fa-instagram"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com" target="_blank">
                                        <img th:src="@{/images/gl-4.png}" alt="image">
                                        <span><i class="fa-brands fa-instagram"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com" target="_blank">
                                        <img th:src="@{/images/gl-5.png}" alt="image">
                                        <span><i class="fa-brands fa-instagram"></i></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://instagram.com" target="_blank">
                                        <img th:src="@{/images/gl-6.png}" alt="image">
                                        <span><i class="fa-brands fa-instagram"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="custom-col">
                        <div class="footer-subscribe">
                            <h3 class="footer-title">Subscribe</h3>
                            <p>Registration is easy, free, and the first step to growing your business with Amazon devices and services.
                            </p>
                            <form>
                                <input type="email" name="email" placeholder="Your Email">
                                <button type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                            </form>
                            <div class="btn-box">
                                <a href="#"><img th:src="@{/images/play-store.png}" alt="Play Store"></a>
                                <a href="#"><img th:src="@{/images/app-store.png}" alt="App Store"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <p>Conditions of UsePrivacy | NoticeInterest-Based Ads&copy; 1996-2022, Inc or its affiliates</p>
                    </div>
                    <div class="col-md-6">
                        <div class="part-img d-flex justify-content-md-end justify-content-center">
                            <img th:src="@{/images/payment-gateway.png}" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>