<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="page_head(title, remove)" th:remove="${remove}">
	 <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> [[${title}]] - [[${SITE_NAME}]]</title>

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.png}" />
    <link rel="stylesheet" th:href="@{/vendor/css/all.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/flaticon/flaticon.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/flags.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/slick.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/modal-video.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/vendor/css/bootstrap.min.css}">
     <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/icon.css}">
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}" ></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" ></script>
    	
	

</head>
<body>

<div th:fragment="format_currency(amount)" th:remove="tag">
	<span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>[[${#numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]<span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
</div>

<div th:fragment="format_time(dateTime)" th:remove="tag">
	<span th:text="${#dates.format(dateTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
</div>	

<div th:fragment="currency_input(amount)" th:remove="tag">
	<input type="text" readonly class="form-control" th:value="${(CURRENCY_SYMBOL_POSITION == 'Before price' ? CURRENCY_SYMBOL : '') + #numbers.formatDecimal(amount, 1, THOUSANDS_POINT_TYPE, DECIMAL_DIGITS, DECIMAL_POINT_TYPE) + (CURRENCY_SYMBOL_POSITION == 'After price' ? CURRENCY_SYMBOL : '')}">
</div>
<!-- Show Modal Dialog Start -->
<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="modalTitle" style="color: red;">Warning</h4>
				<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
			</div>
			
			<div class="modal-body">
				<span id="modalBody"></span>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div th:fragment="confirm_modal" class="modal fade text-center" id="confirmModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" style="color: red;" >Delete Confirmation</h4>
				<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
			</div>
			
			<div class="modal-body">
				<span id="confirmText"></span>
			</div>
			
			<div class="modal-footer">
				<a class="btn btn-success" href="" id="yesButton">Yes</a>
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
			</div>
		</div>
	</div>
</div>
<!-- Show Modal Dialog End -->

<th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
	<a class="text-white"
		th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName}  +'&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : ''}}">
		[[${columnLabel}]]
	</a>								
	<span th:if="${sortField == fieldName}"
		th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>					
</th>

<a th:fragment="page_link(moduleURL, pageNum, label)"
	class="page-link" 
	th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>
		
<div th:fragment="pagination(moduleURL, entityName)" th:remove="tag">
	<div class="text-center m-1" th:if="${totalItems > 0}">
		<span>Showing [[${entityName}]] # [[${startCount}]] to [[${endCount}]] of [[${totalItems}]]</span>
	</div>
	<div class="text-center m-1" th:unless="${totalItems > 0}">
		<span>No [[${entityName}]] found</span>
	</div>
	
	<div th:if="${totalPages > 1}">
		<nav>
		  <ul class="pagination justify-content-center flex-wrap">
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, 1, 'First')"></a>
		    </li>		  
		    <li th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage - 1}, 'Previous')"></a>
		    </li>
		    
		    <li th:class="${currentPage != i ? 'page-item': 'page-item active'}" 
		    	th:each="i : ${#numbers.sequence(1, totalPages)}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, ${i}, ${i})"></a>
		    </li>
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, ${currentPage + 1}, 'Next')"></a>
		    </li>
		    
		    <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">
		    	<a th:replace="fragments :: page_link(${moduleURL}, ${totalPages}, 'Last')"></a>
		    </li>		    
		  </ul>
		</nav>	
	</div>	
	</div>
	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a class="fa-regular fa-edit icon-green" th:href="@{${editURL}}"
			th:title="'Edit this ' + ${entityName}"></a>
	</div>
	
	<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
		<th:block th:if="${visible}">		
		<a class="fa-regular fa-trash icon-red link-delete" 
			th:href="@{${deleteURL}}"
			th:entityId="${entityId}"
			th:title="'Delete this ' + ${entityName}"></a>
		</th:block>	
	</div>
	
	<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
		<a th:if="${enabled == true}" class="fa-regular fa-check-circle icon-green" 
			th:href="@{${entityURL} + '/enabled/false'}"
			th:title="'Disable this ' + ${entityName}"
			></a>
			
		<a th:if="${enabled == false}" class="fa-regular fa-circle icon-dark" 
			th:href="@{${entityURL} + '/enabled/true'}"
			th:title="'Enable this ' + ${entityName}"
			></a>	
	</div>
	
	
</body>
</html>