<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password', 'none')" />

<body class="inner">
    <!-- preloader begin -->
    <div class="preloader">
        <img th:src="@{/images/loader.gif}" alt="Gif">
    </div>
    <!-- preloader end -->

    <!--------------------------------- HEADER SECTION START --------------------------------->
    <span th:replace="top_header2:: top_header2"></span>
    <!--------------------------------- REGISTER SECTION START --------------------------------->
    <div class="register py-120">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-xl-5 col-md-6">
                    <div class="author-area">
                        <h2>Recover Password</h2>
                        <p>Please enter your username or email address. <br>You will receive
                                a link to create a new
                                password via email.</p>
                        <form th:action="@{/forgot_password}" method="post" class="login-form">
                        <div th:if="${error != null}">
							<p class="text-danger">[[${error}]]</p>
						</div>
						<div th:if="${message != null}">
							<p class="text-warning">[[${message}]]</p>
						</div>	
						<input type="hidden" id="pmstkn" name="pmstkn" value=""><input type="hidden"
                                name="_wp_http_referer" value="/recover-password/">
                            <input type="email" name="email" placeholder="Email Address" required="required" autofocus="autofocus">
                           
                            <input type="submit" name="submit" class="def-btn btn-border" value="Reset Password">

                        </form>                    
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <!--------------------------------- REGISTER SECTION END --------------------------------->

    <!--------------------------------- FEATURES SECTION START --------------------------------->
 <span th:replace="homepage/feature_section :: content">Feature Section</span>
    <!--------------------------------- FEATURES SECTION END --------------------------------->



    <!--------------------------------- FOOTER SECTION START --------------------------------->
   <span th:replace="footer:: footer"></span>
    <!--------------------------------- FOOTER SECTION END --------------------------------->

    <script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.flagstrap.min.js}"></script>
    <script th:src="@{/vendor/js/slick.min.js}"></script>
    <script th:src="@{/vendor/js/owl.carousel.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.syotimer.min.js}"></script>
    <script th:src="@{/vendor/js/jquery-modal-video.min.js}"></script>
    <script th:src="@{/vendor/js/nouislider.min.js}"></script>
    <script th:src="@{/vendor/js/jquery-ui.min.js}"></script>
    <script th:src="@{/vendor/js/MonthPicker.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script>
    </script>
</body>

</html>