<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Reset Password', 'none')" />

<body class="inner">
    <!-- preloader begin -->
    <div class="preloader">
        <img th:src="@{/images/loader.gif}" alt="Gif">
    </div>
    <!-- preloader end -->

    <!--------------------------------- HEADER SECTION START --------------------------------->
    <span th:replace="top_header2:: top_header2"></span>
    <!--------------------------------- HEADER SECTION END --------------------------------->

    <!--------------------------------- REGISTER SECTION START --------------------------------->
    <div class="register py-120">
        <div class="container">
            <div class="row justify-content-around">
                <div class="col-xl-5 col-md-6">
                    <div class="author-area">
                        <h2>Reset Your Password</h2>
                        <p>Please enter your username or email address. <br>You will receive
                                a link to create a new
                                password via email.</p>
                        <form th:action="@{/reset_password}" method="post" class="login-form">
                        <input type="hidden" th:value="${token}" name="token" /> 
                    
                           <input type="password" name="password" id="password" placeholder="Enter your new password"
					
					 minlength="8" maxlength="15" required="required" autofocus="autofocus"/>	
                           
                           <input type="password" placeholder="Confirm your new password"
					 oninput="checkPasswordMatch(this)"
					 minlength="8" maxlength="15" required="required"/>		
					 
					 <input type="submit" value="Change Password" class="def-btn btn-border" />

                        </form>                    
                        
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    <!--------------------------------- REGISTER SECTION END --------------------------------->

    <!--------------------------------- FEATURES SECTION START --------------------------------->
 <span th:replace="homepage/feature_section :: content">Feature Section</span>
    <!--------------------------------- FEATURES SECTION END --------------------------------->



    <!--------------------------------- FOOTER SECTION START --------------------------------->
   <span th:replace="footer:: footer"></span>
    <!--------------------------------- FOOTER SECTION END --------------------------------->

	<script type="text/javascript">
		function checkPasswordMatch(confirmPassword) {
			if (confirmPassword.value != $("#password").val()) {
				confirmPassword.setCustomValidity("Passwords do not match!");
			} else {
				confirmPassword.setCustomValidity("");
			}
		}
	</script>

    <script th:src="@{/vendor/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.flagstrap.min.js}"></script>
    <script th:src="@{/vendor/js/slick.min.js}"></script>
    <script th:src="@{/vendor/js/owl.carousel.min.js}"></script>
    <script th:src="@{/vendor/js/jquery.syotimer.min.js}"></script>
    <script th:src="@{/vendor/js/jquery-modal-video.min.js}"></script>
    <script th:src="@{/vendor/js/nouislider.min.js}"></script>
    <script th:src="@{/vendor/js/jquery-ui.min.js}"></script>
    <script th:src="@{/vendor/js/MonthPicker.min.js}"></script>
    <script th:src="@{/vendor/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script>
    </script>
</body>

</html>