<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	 <div class="features" id="feature" th:fragment="content">>
        <div class="container">
            <div class="panel panel-shadow px-0">
                <div class="custom-row">
                    <div class="custom-col">
                        <div class="single-feature">
                            <div class="part-icon">
                                <span><i class="flaticon-money-saving"></i></span>
                            </div>
                            <div class="part-txt">
                                <h4>Free Delivery</h4>
                                <p>For all order over $99</p>
                            </div>
                        </div>
                    </div>
                    <div class="custom-col">
                        <div class="single-feature">
                            <div class="part-icon">
                                <span><i class="flaticon-dollar"></i></span>
                            </div>
                            <div class="part-txt">
                                <h4>30 Days Return</h4>
                                <p>If goods have Problems</p>
                            </div>
                        </div>
                    </div>
                    <div class="custom-col">
                        <div class="single-feature">
                            <div class="part-icon">
                                <span><i class="flaticon-credit-card"></i></span>
                            </div>
                            <div class="part-txt">
                                <h4>Secure Payment</h4>
                                <p>100% secure payment</p>
                            </div>
                        </div>
                    </div>
                    <div class="custom-col">
                        <div class="single-feature">
                            <div class="part-icon">
                                <span><i class="flaticon-call-center"></i></span>
                            </div>
                            <div class="part-txt">
                                <h4>24/7 Support</h4>
                                <p>Dedicated support</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>